/*html{
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita lo scroll orizzontale 
    box-sizing: border-box;
}*/

/*Gestisce il layout e lo stile del footer, utilizzando Flexbox per centrare il contenuto*/
.footer{
    height: 60px; /* Imposta l'altezza del footer a 60px */
    background-color: #111; /* Imposta il colore di sfondo a un grigio molto scuro (#111) */
    color: white; /* Imposta il colore del testo a bianco */
    display: flex; /* Usa Flexbox per il layout */
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
    padding: 1rem; /* Aggiunge un padding di 1rem (spazio interno) */
    text-align: center; /* Centra il testo */
    width: 100%;
    box-sizing: border-box;
    position: relative;
    left: 0;
}

/*Per tutti gli schermi che hanno una larghezza massima di 576px (mobile),
il testo è più piccolo (0.8*dimensione dell'elemento html, che di default nei browser è 16px,
quindi è 0.8*16px = 12,8px*/
@media (max-width: 576px){
    .footer{
        font-size: 0.8rem;
        width: 100vw;
    }
}

/*Imposta le dimensioni e l'adattamento dell'immagine del logo*/
.logo-img{
    width: 400px; /* Imposta la larghezza dell'immagine a 400px */
    height: auto; /* La altezza è automatica per mantenere le proporzioni */
    object-fit: contain; /* Assicura che l'immagine si adatti all'interno della dimensione senza deformarsi */
    margin-bottom: 10px; /* Aggiunge uno spazio di 10px sotto l'immagine */
}

/*Gestisce lo stile del titolo principale*/
.main-title{
    font-size: 3rem; /* Imposta la dimensione del font a 3rem (relativo alla dimensione del font di base) */
    color: rgba(255,155,0,255);
    font-weight: 800; /* Imposta il peso del font a 800 (molto bold) */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Specifica i font da usare (con fallback in caso di indisponibilità) */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Aggiunge un'ombra al testo, con 2px di spostamento e un'ombra sfocata di 5px */
    margin-bottom: 0.5rem; /* Aggiunge uno spazio di 0.5rem sotto il titolo */
}

/*Gestisce lo stile di un paragrafo*/
.lead{
    font-size: 1.2rem; /* Imposta la dimensione del font a 1.2rem */
    color: rgba(255,155,0,255);
    max-width: 600px; /* Limita la larghezza massima del testo a 600px */
    margin-bottom: 1.5rem; /* Aggiunge uno spazio di 1.5rem sotto il paragrafo */
}

/*Usa Flexbox per centrare il contenuto della pagina*/
.main-content{
    flex: 1; /* Consente al contenitore di occupare lo spazio rimanente (flexbox) */
    display: flex; /* Usa Flexbox per il layout */
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
}

/*Stile di un bottone*/
.btn-orange{
    background-color: rgba(255,155,0,255);
    color: black; /* Imposta il colore del testo a nero */
    border: 2px solid rgba(255,155,0,255); /* Imposta un bordo di 2px arancione */ 
    padding: 12px 28px; /* Aggiunge un padding (spazio interno) di 12px in verticale e 28px in orizzontale */
    font-size: 1.1rem; /* Imposta la dimensione del font a 1.1rem */
    font-weight: bold; /* Imposta il peso del font a grassetto */
    border-radius: 8px; /* Imposta gli angoli del bottone con un raggio di 8px (arrotondati) */
    text-decoration: none; /* Rimuove la sottolineatura dei link */
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.4); /* Aggiunge un'ombra arancione al bottone */
    transition: all 0.3s ease; /* Imposta una transizione su tutte le proprietà in modo che cambino in modo fluido in 0.3 secondi */
    white-space: normal; /* Permette il ritorno a capo del testo */
    overflow: visible; /* Nessun troncamento */
    text-overflow: unset; /* Nessun "..." */
    text-align: center; /* Allineamento centrato anche per testo multilinea */
}

/*Effetto hover per il bottone*/
.btn-orange:hover{
    background-color: #ff8c00; /* Cambia lo sfondo del bottone a un arancione più scuro (#ff8c00) quando il mouse passa sopra */
    color: white; /* Cambia il colore del testo a bianco quando il mouse passa sopra */
}

/*Gestione finestre modali (stesso stile per quella di logout e eliminazione account)*/
.modal-content{
    background-color: #4d3868;
    border: 2px solid #4d3868;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.modal-header, 
.modal-footer{
    border: none;
    background-color: transparent;
}

.modal-title{
    color: black;
    font-weight: 700;
}

.modal-body{
    color: black;
    font-size: 1.1rem;
    font-weight: 400;
}

/*X di chiusura*/
.btn-close{
    filter: brightness(0); /*Rende l'icona della X scura*/
    opacity: 1;
    transition: filter 0.3s ease;
    outline: none; /*Rimuove l'effetto outline*/
}

.btn-close-carta-ingrandita {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cline x1='4' y1='4' x2='20' y2='20' stroke='rgba(255, 155, 0, 1)' stroke-width='3.5' stroke-linecap='round'/%3E%3Cline x1='20' y1='4' x2='4' y2='20' stroke='rgba(255, 155, 0, 1)' stroke-width='3.5' stroke-linecap='round'/%3E%3C/svg%3E") center/1.5em auto no-repeat;
    width: 1em;
    height: 1em;
    border: none;
    opacity: 1;
    transition: background 0.3s ease;
    outline: none;
}

.number-input-clean{
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    width: 60px;
    appearance: textfield; /* rimuove spinner in alcuni browser */
}
  
.number-input-clean::-webkit-outer-spin-button,
.number-input-clean::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
.number-input-clean:focus{
    outline: none;
    box-shadow: none;
}

/*Bottone per eliminare l'account nella pagina delle impostazioni*/
.delete-account-btn{
    background-color: #b7294b;
    color: black;
    border: 2px solid #b7294b;
    padding: 12px 28px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 8px #721c24;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    text-align: center;
}

.delete-account-btn:hover {
    background-color: #8c2538;
    border: 2px solid #8c2538;
    color: white;
}

/*Imposta lo sfondo e la struttura di base della pagina utilizzando Flexbox*/
body{
    background-image: url('../img/background.jpg'); /* Imposta l'immagine di sfondo della pagina */
    background-repeat: repeat; /* Ripete l'immagine di sfondo su tutta la pagina */
    margin: 0; /* Rimuove il margine predefinito del browser */
    padding: 0;
    overflow-x: hidden; /* Evita lo scroll orizzontale */
    box-sizing: border-box;
    height: 100vh; /* Imposta l'altezza della pagina a 100% dell'altezza della finestra */
    display: flex; /* Usa Flexbox per il layout */
    flex-direction: column; /* Imposta la direzione degli elementi figlio della pagina in verticale */
}

/*Imposta il colore del testo a arancione*/
.text-orange{
    color: rgba(255,155,0,255)
}

/*Gestisce lo stile di alcuni testi*/
.text-orange-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Specifica i font da usare (con fallback in caso di indisponibilità) */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Aggiunge un'ombra al testo, con 2px di spostamento e un'ombra sfocata di 5px */
    color: rgba(255,155,0,255);
}

.text-orange-title-homepage,
.text-orange-title-dashboard{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23.5px;
    font-weight: 649;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: rgba(255,155,0,255);
}

/*Gestisce lo stile per i messaggi di errore*/
.error-message{
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 20px;
}

/*Gestisce lo stile per i messaggi di successo*/
.success-message{
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-bottom: 20px;
}

/*Gestisce l'aspetto dell'input*/
.input-group .form-control{
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*Gestisce l'aspetto del bottone (icona) dell'input*/
.input-group .input-group-text{
    background-color: #fff;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

/*Sfondo arancione della checkbox quando è selezionata*/
.form-check-input:checked {
    background-color: rgba(255,155,0,255);
    border-color: rgba(255,155,0,255);
}

/*Classi che gestiscono le celle con le varie espansioni*/
.card{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

/*Se vuoi modificare il colore delle celle modifica card-body e card-header ma non card*/
.card-body{
    background-color: #412d5b;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    transition: box-shadow 0.3s ease;
}

.card-body:hover{
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}

.card-header{
    background-color: #412d5b;
    height: 90px;
    overflow: hidden;
    border-bottom: none;
}

/*Per aggiungere l'evidenziazione se usi la barra di ricerca e trovi un match*/
.card.highlight{
    outline: 3px solid #ffa500;
    border-radius: 8px;
    transition: outline 0.2s ease;
}

/*Bottoni delle espansioni dentro le celle*/
.expansion-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*Centra i bottoni su ogni riga */
    max-height: 188px; /* 3 righe da ~64px, modificabile */
    gap: 0.5rem; /* Distanza tra i bottoni */
    padding: 4px;
    overflow-y: auto; /*Scroll verticale se servono più di 3 righe */
    scrollbar-width: thin;
    scrollbar-color: #412d5b transparent;
}

.expansion-buttons:hover{
    scrollbar-color: rgba(255,155,0,1) transparent;
}

/*Stile condiviso dalle impostazioni e della freccetta per tornare su*/
.round-btn{
    background-color: rgba(255,155,0,255);
    color: black;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
}
  
.round-btn:hover{
    background-color: #ff8c00;
}
  
/*Mette il bottone delle impostazioni e il menù a tendina in alto a destra*/
.settings-wrapper{
    position: fixed;
    top: 16px;
    right: 35px;
    z-index: 1000;
}

/*Menù a tendina*/
#settingsMenu{
    display: none;
    position: fixed;
    top: 70px;  /*Sotto il bottone delle impostazioni*/
    right: 35px;
    background-color: rgba(255,155,0,255);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 10px;
}

@media (max-width: 576px){
    .settings-wrapper,
    #settingsMenu{
        right: 10px;
    }
}

#settingsMenu:hover{
    background-color: #ff8c00;
}

#settingsMenu .dropdown-item{
    background-color: rgba(255,155,0,255);
    color: black;
    font-weight: 700;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
    border-radius: 6px;
    transition: background-color 0.2 ease;
}

#settingsMenu .dropdown-item:hover{
    background-color: #ff8c00;
}

/*Wrapper simile a quello delle impostazioni -> comprende l'iconetta del cerca e lo spazio per scrivere*/
.search-wrapper{
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 9999; /*In modo che sia sempre sopra gli elementi*/
    margin: 0;
}

/*Contenitore con espansione animata*/
.search-container{
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(255,155,0,255);
    border-radius: 24px;
    padding: 4px 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: width 0.4s ease, background-color 0.3s ease;
    width: 48px; /*Perchè all'inzio c'è solo l'icona*/
    overflow: hidden;
}

/*Al passaggio del mouse, si espande*/
.search-container:hover{
    width: 442px;
    background-color: #ff8c00;
}

/*Iconetta lente d'ingrandimento*/
.search-container .round-btn{
    background-color: transparent;
    box-shadow: none;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    margin-right: 6px;
    transition: color 0.3s ease;
}

/*Campo input che compare con l'espansione*/
.search-input{
    border: none;
    background: transparent;
    color: black;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
}

/*Gestione scrittina "cerca espansione" (non basta avere solo quella sotto, non levarla)*/
.search-input::placeholder{
    color: black;
    font-weight: 600;
}

/*Per fare in modo che si leggano le varie scritte quando il cursore sta sulla barra di ricerca (cursore, placeholder e input dell'utente)*/
.search-container:hover .search-input{
    color: black;
    font-weight: 600;
    opacity: 100;
}

/*Pulsante X nella barra di ricerca*/
.clear-btn{
    background: none;
    border: none;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    margin-left: 6px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* disabilita click se non visibile */
}

.search-container:hover .clear-btn{
    opacity: 1;
    pointer-events: auto;
}

/*Freccetta per tornare su messa in basso a destra*/
#scrollTopBtn{
    position: fixed;
    bottom: 16px;
    right: 35px;
    display: none; /*Nascosto finché non si scrolla*/
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 9999;
}

#scrollTopBtn:hover{
    transform: translateY(-5px); /* Lo sposta leggermente in alto */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Un piccolo effetto ombra */
}

.pokedex-sidebar-header,
.card-body-header{
    height: 45px;
    overflow: hidden;
    border-bottom: none;
}

.pokedex-container{
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

/* Colonna con i nomi delle carte*/
.pokedex-sidebar{
    background-color: #412d5b;
    border-radius: 12px;
    padding: 1rem;
    height: 540px;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    scrollbar-width: none; /*Nasconde la scrollbar su firefox*/
    overflow-y: auto;
}

/*Nasconde la scrollbar sugli altri browser tipo chrome o safari*/
.pokedex-sidebar::-webkit-scrollbar{
    display: none;
}

.pokedex-cursor{
    position: absolute;
    left: -5px;
    width: 40px;
    height: 40px;
    background-image: url('../img/cursor.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: top 0.2s ease;
}
  
@media (max-width: 576px){
    .pokedex-cursor{
        margin-left: 0.5px;
    }
}

.label.pokedex-label{
    background-color: rgba(255, 155, 0, 1);
    border-color: rgba(255, 155, 0, 1);
    color: black;
    padding: 8px 12px;
    margin: 6px auto;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    max-width: 85%;
    position: relative;
}

.label.pokedex-label:hover{
    background-color: #ff8c00;
    transform: scale(1.03);
}

/*Evidenziazione delle label dei Pokémon quando trova un match*/
.pokedex-label.highlight{
    outline: 4px solid #b7294b;
    border-radius: 20px;
    box-shadow: 0 0 10px #721c24;
    transition: outline 0.2s ease, box-shadow 0.3s ease;
}

.label.pokedex-label.hovered {
    background-color: #ff8c00;
    transform: scale(1.03);
}
  
.card-container{
    display: flex;
    align-items: stretch; /*Forza i figli ad avere la stessa altezza*/
    gap: 2rem;
    margin-top: 2rem;
}
  
.labels-wrapper{
    position: relative;
}

.card-preview{
    flex: 1;
    min-height: 400px; /*Atezza minima per inizializzazione coerente*/
}

/*Dettagli carta selezionata*/
#cardDisplay{
    background-color: #412d5b;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    height: 540px;
}
  
#cardImage{
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 1rem;
}
  
/* Dettagli testuali*/
#cardDetails{
    font-size: 1.1rem;
    line-height: 1.5;
}

/*Se l'utente non ha la carta, appare grigia*/
#cardImage.grayscale{
    filter: grayscale(100%);
    opacity: 0.6;
}

.card-image-wrapper{
    position: relative;
    display: inline-block;
    width: 240px;
    max-height: 340px;
}

.card-img{
    width: 100%;
    border-radius: 12px;
    display: block;
}

.card-count,
.card-add-btn,
.card-remove-btn{
  position: static;
  margin: 0.3rem 0;
}

.card-img.grayscale{
    filter: grayscale(100%);
    opacity: 0.6;
}

.pokedex-label.active{
    background-color: orange;
    color: white;
}

.pokedex-label:focus{
    outline: none !important;
    box-shadow: none !important;
}

.search-input{
    transition: width 0.3s;
}

/* Sfondo viola per la barra vuota */
.custom-progress-bg {
    background-color: #412d5b !important;
    border-radius: 10px;
}
  
/* Parte riempita arancione */
.bg-orange{
    background-color: rgba(255,155,0,255) !important;
    border-radius: 10px;
}

.progress-text{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 20px; /* stessa altezza della barra */
    font-weight: bold;
    z-index: 10;
    transition: color 0.3s ease;
}  

.no-underline{
    text-decoration: none !important;
}